
:root {
  --nav-height: 74px;
  --nav-height-big: 130px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --black-soft: #000000c0;
  --overlay-dark: rgba(0, 0, 0, .2); 
  --crimson-red: #680606;
  --crimson-red-soft: #59081ece;
  --grey-soft: rgba(0, 0, 0, .1);
  
  --red: rgb(226, 81, 81);
  --yellow: rgb(253, 193, 106);


  /* Spacing */
  --page-max-width: 1080px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-inline-size: 100vw;

  font-family: var(--font-montserrat);
}
